body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1; 
	background: rgb(26,23,80);
	background: linear-gradient(0deg, rgba(26,23,80,1) 0%, rgba(60,9,121,1) 33%, rgba(0,255,209,1) 100%);
}

.ant-comment-inner{
  padding: 0px;
  align-items: center;
}
.ant-comment-content-detail {
  word-break: break-all;
}